<div fxFill fxLayout="column" class="app-bg-container overflow-hidden">
    <div class="px-4 py-4 flex items-center">
      <div>
        <div class="app-productive-heading-03 font-bold">Nuevo Usuario</div>

      </div>
      <div class="flex-1 flex justify-end">
        <button (click)="onClose()" ibmButton="ghost" size="sm" class="bx--btn--icon-only">
          <svg class="bx--btn__icon" ibmIconClose size="32"></svg>
        </button>
      </div>
    </div>
    <div fxFlex >
      <div class="app-content app-content--default"  [formGroup]="formGroup">
        <ibm-tab-header-group
          [type]="'line'"
          [followFocus]="true"
          [cacheActive]="false"
          [isNavigation]="true">
          <ibm-tab-header ibmTabHeader [paneReference]="content1">
            Informacion general              
          </ibm-tab-header>
          <ibm-tab-header ibmTabHeader [paneReference]="content4">
            Usuario y Seguimiento
          </ibm-tab-header>		
		    </ibm-tab-header-group>
        <ibm-tab #content1>
                <div class="app-form p-4">
                    <div fxLayout="row wrap" class="app-form__row">
                        <div fxFlex="50%"   class="app-form__item">
                          <div class="app-input">
                            <ibm-label
                              [invalidText]="'Este campo es requerido'"
                              >
                              Nombre del Usuario
                              <input
                                type="text"                      
                                ibmText
                                size="md"   
                                formControlName="name"                    
                                [autocomplete]="true">
                            </ibm-label>
                            <div *ngIf="formGroup.controls['name'].invalid && (formGroup.controls['name'].dirty || formGroup.controls['name'].touched)">
                                <div *ngIf="formGroup.controls['name'].errors.required">
                                    <ibm-label
                                        [invalidText]="'Este campo es requerido'"
                                        [invalid]="true"
                                    ></ibm-label>
                                </div>
                                <div *ngIf="formGroup.controls['name'].errors.min">
                                    <ibm-label
                                        [invalidText]="'El nombre debe tener al menos 6 caracteres'"
                                        [invalid]="true"
                                    ></ibm-label>
                                </div>   
                            </div>                                                           
                          </div>
                        </div>
                        <div fxFlex="50%"   class="app-form__item">
                            <div class="app-input">
                              
                              <ibm-label
                                [invalidText]="'Este campo es requerido'"
                                >
                                Correo electronico
                                <input
                                  type="text"                      
                                  ibmText
                                  size="md"   
                                  formControlName="email"                    
                                  [autocomplete]="true">
                              </ibm-label>
                              <div *ngIf="formGroup.controls['email'].invalid && (formGroup.controls['email'].dirty || formGroup.controls['email'].touched)">
                                <div *ngIf="formGroup.controls['email'].errors.required">
                                    <ibm-label
                                        [invalidText]="'Este campo es requerido'"
                                        [invalid]="true"
                                    ></ibm-label>
                                </div>
                                <div *ngIf="formGroup.controls['email'].errors.email">
                                    <ibm-label
                                        [invalidText]="'El formato no es correcto '"
                                        [invalid]="true"
                                    ></ibm-label>
                                </div>   
                              </div>
                            </div>
                          </div>
                        </div>
                        <div fxLayout="row wrap" class="app-form__row">
                          <div fxFlex="50%"   class="app-form__item">
                            <div class="app-input">
                              
                              <ibm-label
                                [invalidText]="'Este campo es requerido'"
                                >
                                Contraseña
                                <input
                                  type="password"                      
                                  ibmText
                                  size="md"   
                                  formControlName="password"                    
                                  [autocomplete]="true">
                              </ibm-label>

                              <div *ngIf="formGroup.controls['password'].invalid && (formGroup.controls['password'].dirty || formGroup.controls['password'].touched)">
                                <div *ngIf="formGroup.controls['password'].errors.required">
                                    <ibm-label
                                        [invalidText]="'Este campo es requerido'"
                                        [invalid]="true"
                                    ></ibm-label>
                                </div>
                                <div *ngIf="formGroup.controls['password'].errors.min">
                                    <ibm-label
                                        [invalidText]="'La contraseña debe tener al menos 8 caracteres'"
                                        [invalid]="true"
                                    ></ibm-label>
                                </div>   
                              </div>
                            </div>
                          </div>
                          <div fxFlex="50%"   class="app-form__item">
                              <div class="app-input">
                                
                                <ibm-label
                                  [invalidText]="'Este campo es requerido'"
                                  >
                                  Confirmar contraseña
                                  <input
                                    type="password"                      
                                    ibmText
                                    size="md"   
                                    formControlName="password_confirmation"                    
                                    [autocomplete]="true">
                                </ibm-label>
                                <div *ngIf="formGroup.controls['password_confirmation'].invalid && (formGroup.controls['password_confirmation'].dirty || formGroup.controls['password_confirmation'].touched)">
                                    <div *ngIf="formGroup.controls['password_confirmation'].errors.required">
                                        <ibm-label
                                            [invalidText]="'Este campo es requerido'"
                                            [invalid]="true"
                                        ></ibm-label>
                                    </div>
                                    <div *ngIf="formGroup.controls['password_confirmation'].errors.min">
                                        <ibm-label
                                            [invalidText]="'La contraseña debe tener al menos 8 caracteres'"
                                            [invalid]="true"
                                        ></ibm-label>
                                    </div>   
                                  </div>
                              </div>
                            </div>
                            <div fxFlex="50%"   class="app-form__item">
                              <div class="app-input">
                                
                                <ibm-label
                                  [invalidText]="'Este campo es requerido'"
                                  >
                                  Identificacion
                                  <input
                                    type="text"                      
                                    ibmText
                                    size="md"   
                                    formControlName="identificacion"                    
                                    [autocomplete]="true">
                                </ibm-label>
                                <div *ngIf="formGroup.controls['identificacion'].invalid && (formGroup.controls['identificacion'].dirty || formGroup.controls['identificacion'].touched)">
                                    <div *ngIf="formGroup.controls['identificacion'].errors.required">
                                        <ibm-label
                                            [invalidText]="'Este campo es requerido'"
                                            [invalid]="true"
                                        ></ibm-label>
                                    </div>
                                    <div *ngIf="formGroup.controls['identificacion'].errors.min">
                                        <ibm-label
                                            [invalidText]="'La contraseña debe tener al menos 8 caracteres'"
                                            [invalid]="true"
                                        ></ibm-label>
                                    </div>   
                                  </div>
                              </div>
                            </div>
                          </div>

                  </div>
        </ibm-tab>
        <ibm-tab #content4>
          Tab Content 5
        </ibm-tab> 
      </div>
    </div>
    <div class="px-4 py-4 flex justify-end app-border-t">
      <button (click)="onClose()"
              ibmButton="ghost"
              size="field"
              class="mr-1">
        Cerrar
        <svg class="bx--btn__icon" ibmIconTrashCan size="20"></svg>
      </button>
      <button ibmButton="primary" size="field" (click)="onSubmit()">
        Guardar 
        <svg class="bx--btn__icon" ibmIconSend size="20"></svg>
      </button>
    </div>
  </div>