<div fxLayout="row wrap p-4" class="app-form__row">
    <div fxFlex="100%"   class="app-form__item mt-2 mb-2">
      <div class="app-input">
        <ibm-label
          >
          Referencia 1
          <input
            type="text"                      
            ibmText
            size="md"   
                             
            [autocomplete]="true">
        </ibm-label>
      </div>
    </div>
    <div fxFlex="100%"   class="app-form__item mt-2 mb-2">
        <div class="app-input">
          <ibm-label
           
            >
            Referencia 2
            <input
              type="text"                      
              ibmText
              size="md"   
                               
              [autocomplete]="true">
          </ibm-label>
        </div>
      </div>
      <div fxFlex="100%"   class="app-form__item mt-2 mb-2">
        <div class="app-input">
          <ibm-label
            
            >
            Referencia 3
            <input
              type="text"                      
              ibmText
              size="md"   
                                 
              [autocomplete]="true">
          </ibm-label>
        </div>
      </div>
      <div fxFlex="100%"   class="app-form__item mt-2 mb-2">
        <div class="app-input">
          <ibm-label
           
            >
            Referencia 4
            <input
              type="text"                      
              ibmText
              size="md"   
                          
              [autocomplete]="true">
          </ibm-label>
        </div>
      </div>
    
  </div>