<div fxFill fxLayout="column" class="app-bg-container overflow-hidden">
    <div class="px-4 py-4 flex items-center">
      <div>
        <div class="app-productive-heading-03 font-bold">Editar rol</div>

      </div>
      <div class="flex-1 flex justify-end">
        <button (click)="onClose()" ibmButton="ghost" size="sm" class="bx--btn--icon-only">
          <svg class="bx--btn__icon" ibmIconClose size="32"></svg>
        </button>
      </div>
    </div>
    <div fxFlex >
      <div class="app-content app-content--default"  [formGroup]="formGroup">
        <ibm-tab-header-group
			[type]="'line'"
			[followFocus]="true"
			[cacheActive]="false"
			[isNavigation]="true">
			<ibm-tab-header ibmTabHeader [paneReference]="content1">
				Informacion general
            </ibm-tab-header>
			<ibm-tab-header ibmTabHeader [paneReference]="content4">
				Usuario y Seguimiento
			</ibm-tab-header>
			
		</ibm-tab-header-group>

		<ibm-tab #content1>
            <div class="app-form p-4">
                <div fxLayout="row wrap" class="app-form__row">
                    <div fxFlex="100%"   class="app-form__item">
                      <div class="app-input">
                        <youpez-ibm-icon iconName="search" class="app-input__prefix" iconSize="20"></youpez-ibm-icon>
                        <ibm-label
                          [invalidText]="'Este campo es requerido'"
                          >
                          Nombre del rol
                          <input
                            type="text"                      
                            ibmText
                            size="md"   
                            formControlName="name"                    
                            [autocomplete]="true">
                        </ibm-label>
                      </div>
                    </div>
                  </div>
              </div>
		</ibm-tab>
		<ibm-tab #content4>
			Tab Content 5
		</ibm-tab>
      </div>
    </div>
    <div class="px-4 py-4 flex justify-end app-border-t">
      <button (click)="onClose()"
              ibmButton="ghost"
              size="field"
              class="mr-1">
        Cerrar
       
      </button>
      <button ibmButton="primary" size="field" (click)="onSubmit()">
        Guardar 
        <svg class="bx--btn__icon" ibmIconSend size="20"></svg>
      </button>
    </div>
  </div>
  